<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="myStyle.css">
</head>
<body>
    <center>
        <div>
            <h1 style="background-color: rgb(33, 128, 169); color: aliceblue;" >ubdate data
            </h1>
            <form  >            

            <input style="padding: 15px 35px; outline: none; margin: 10px; " type="text" placeholder="NAME"  name="name">
            <input style="padding: 15px 35px; outline: none; margin: 10px; " type="text" placeholder="AGE"  name="age">
            <input style="padding: 15px 35px; outline: none; margin: 10px; " type="text" placeholder="ID"  name="id">
            <button style="padding: 17px 20px;" >send</button>
            
    
            </form>
        </div>
    </center>
</body>
</html>