<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="myStyle.css">

</head>
<body>
    <center dir="rtl" >
        <div class="navbar" >
            <h1 class="logo">نواف الكندي</h1>
            <a href="">البريد الالكتروني</a>
            <input id="search" type="text" placeholder="بـــــSearchــحـــث"> <input id="Go" type="button" value="Go">
        </div>
        
    </center>
</body>
</html>