<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="myStyle.css">

</head>
<body id="body" >

    <center dir="rtl" >
        <div class="navbar" >
            <h1 class="logo">نواف الكندي</h1>
            <a href="">البريد الالكتروني</a>
            <input id="search" type="text" placeholder="بـــــSearchــحـــث"> <input id="Go" type="button" value="Go">
        </div>
        
    </center>

    <div>
        <button id="sun" >sun</button><button  id="moon"  >moon</button>
        
    </div>

    <% 
     qaboos
    let saw = qaboos
   
    
    
    %>
    
    <center>   
    <table border="1px">
        <thead>
            <tr>
             <th>#</th>   <th>NAME</th>    <th>AGE</th>    <th>ID</th> <th id="Action" > Action </th>  
            </tr>

            <tbody align="center" style="background-color: rgb(199, 197, 193);" id="tbody" >
                <tr>
                    <td>1</td>   <td> nawaf </td>  <td>22</td>   <td>9090</td>   <td><center>  <input type="button" value="Ubdate"><input style="background-color: red; color:whitesmoke ;" type="button" value="Deleat"><input type="button" style="background-color: cornflowerblue;" value="View"> </center> </td>
                </tr>

                <tr>
                    <td>1</td>   <td>nawaf</td>   <td>22</td>   <td>9090</td>   <td>  </td>
                </tr>

                <tr>
                    <td>1</td>   <td>nawaf</td>   <td>22</td>   <td>9090</td>   <td> </td>
                </tr>

                <tr>
                    <td>1</td>   <td>nawaf</td>   <td>22</td>   <td>9090</td>   <td>   </td>
                </tr>
              
                
            </tbody>
        </thead>
    </table>
</center>


<center><a href="http://localhost:3000/views/components/add.ejs?name=&age=&id=">الذهاب الى صفحة تسجيل البيانات  </a></center>
     
 

 
<script>
    let body = document.getElementById("body")
    let sun = document.getElementById("sun")
    let moon = document.getElementById("moon")
    moon.onclick=function(){
        body.style.backgroundColor = 'rgb(160, 160, 160)';
    }

    sun.onclick=function(){
        body.style.backgroundColor = '';
    }



</script>


 
    
</body>
</html>